In [2]:
import pandas as pd
import numpy as np

In [13]:
path = "./cancer/breast-cancer-wisconsin.data"
column_name = ['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape',
                   'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
                   'Normal Nucleoli', 'Mitoses', 'Class']
data = pd.read_csv(path,names=column_name)
data

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [14]:
#缺失值处理
#替换np.nan
data = data.replace(to_replace = "?",value=np.nan)
#删除缺失样本
data.dropna(inplace = True)

In [17]:
data.isnull().any()#不存在缺失值

Sample code number             False
Clump Thickness                False
Uniformity of Cell Size        False
Uniformity of Cell Shape       False
Marginal Adhesion              False
Single Epithelial Cell Size    False
Bare Nuclei                    False
Bland Chromatin                False
Normal Nucleoli                False
Mitoses                        False
Class                          False
dtype: bool

In [19]:
#划分数据集
from sklearn.model_selection import train_test_split

In [21]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [31]:
#筛选特征值和目标值
x = data.iloc[:,1:-1]#特征
y = data["Class"]#目标
x

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [43]:
x_train

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
13,1,1,1,1,2,3,3,1,1
168,3,1,1,1,2,1,3,1,1
490,1,1,1,1,2,1,1,1,1
33,2,1,1,2,2,1,3,1,1
229,10,10,10,3,10,10,9,10,1
...,...,...,...,...,...,...,...,...,...
408,2,3,2,2,2,2,3,1,1
302,10,10,10,7,9,10,7,10,10
610,10,4,3,10,3,10,7,1,2
589,5,1,1,1,2,1,1,1,1
365,2,1,1,1,2,1,2,1,1

In [44]:
x_test

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
693,3,1,1,1,2,1,2,1,2
225,1,1,1,1,2,1,2,1,1
437,4,1,1,1,2,1,1,1,1
503,4,1,1,1,2,1,3,1,1
323,5,4,6,10,2,10,4,1,1
...,...,...,...,...,...,...,...,...,...
602,4,1,1,1,2,1,2,1,1
394,1,2,3,1,2,1,2,1,1
1,5,4,4,5,7,10,3,2,1
243,1,1,1,1,2,5,5,1,1
5,8,10,10,8,7,10,9,7,1

In [45]:
#标准化
from sklearn.preprocessing import StandardScaler

In [46]:
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [47]:
x_train

array([[-1.20869741, -0.7097805 , -0.74038917, ..., -0.19022526,
        -0.63183267, -0.3585355 ],
       [-0.50863737, -0.7097805 , -0.74038917, ..., -0.19022526,
        -0.63183267, -0.3585355 ],
       [-1.20869741, -0.7097805 , -0.74038917, ..., -1.00867341,
        -0.63183267, -0.3585355 ],
       ...,
       [ 1.94157276,  0.25672912, -0.07939657, ...,  1.44667106,
        -0.63183267,  0.19438672],
       [ 0.19142267, -0.7097805 , -0.74038917, ..., -1.00867341,
        -0.63183267, -0.3585355 ],
       [-0.85866739, -0.7097805 , -0.74038917, ..., -0.59944934,
        -0.63183267, -0.3585355 ]])

In [48]:
x_test

array([[-0.50863737, -0.7097805 , -0.74038917, ..., -0.59944934,
        -0.63183267,  0.19438672],
       [-1.20869741, -0.7097805 , -0.74038917, ..., -0.59944934,
        -0.63183267, -0.3585355 ],
       [-0.15860735, -0.7097805 , -0.74038917, ..., -1.00867341,
        -0.63183267, -0.3585355 ],
       ...,
       [ 0.19142267,  0.25672912,  0.25109973, ..., -0.19022526,
        -0.31185411, -0.3585355 ],
       [-1.20869741, -0.7097805 , -0.74038917, ...,  0.6282229 ,
        -0.63183267, -0.3585355 ],
       [ 1.24151272,  2.18974835,  2.23407753, ...,  2.26511922,
         1.28803871, -0.3585355 ]])

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
estimator = LogisticRegression()
estimator.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [53]:
# 5）得出模型
print("逻辑回归-权重系数为：\n", estimator.coef_)
print("逻辑回归-偏置为：\n", estimator.intercept_)
# 6、模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值:\n", y_test == y_predict)

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

逻辑回归-权重系数为：
 [[1.23775189 0.02411312 1.02852856 0.79564131 0.29855973 1.1912048
  0.92795821 0.4436142  0.70831133]]
逻辑回归-偏置为：
 [-0.99702911]
y_predict:
 [2 2 2 2 4 2 4 2 2 2 2 2 4 2 4 2 2 4 2 4 2 2 2 2 2 4 2 2 4 2 2 4 4 4 2 2 4
 2 2 2 2 2 4 2 4 2 4 4 2 2 4 4 2 2 4 4 2 2 4 2 2 4 2 2 2 4 2 2 2 2 2 2 2 2
 4 2 2 2 2 2 4 2 2 2 2 2 2 4 2 2 2 4 2 2 2 2 4 4 2 2 2 2 2 2 2 4 4 2 4 2 2
 4 4 2 2 2 2 4 4 2 4 2 2 4 2 2 2 2 4 2 2 4 2 2 4 2 4 4 2 4 2 2 4 4 2 4 4 2
 2 4 2 2 4 2 2 4 2 4 4 2 2 2 2 4 2 2 2 2 4 2 4]
直接比对真实值和预测值:
 693     True
225     True
437     True
503     True
323     True
       ...
602     True
394     True
1      False
243     True
5       True
Name: Class, Length: 171, dtype: bool
准确率为：
 0.9707602339181286

array([-0.99702911])